body {
      background-color: #fefaef !important;
}

.container {
      background-color: #fefaef !important;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

.question-footer {
      display: flex;
      justify-content: space-between;
      padding: 12px 18px 18px 18px;

      border-top: 1px solid rgba(0, 0, 0, 0.4);
      align-items: center;
}


.quiz-answer-card:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.05);
}

.card-body {
      background-color: #F7F7F7;

}

.card-end {
      align-items: center;
      display: flex;
      flex-direction: column;
}

.bg-success {
      color: white !important;
}

.bg-danger {
      color: white !important;
}

.width-100 {
      width: 100%;
}

.text-center {
      text-align: center;
}


.button-row {
      display: flex;
      justify-content: center;
      margin-top: 24px;
}

@media (max-width: 510px) {
      body {
            padding: 0px;
            margin: 0px;
      }

      .card {
            min-width: 100vw;
      }

      .container {
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 0;
            width: 100%;
            padding-right: 0px !important;
            padding-left: 0px !important;
            margin-right: 0px !important;
            margin-left: 0px !important;
      }
}