body {
      background-color: #fefaef !important;
}

.container {
      background-color: #fefaef !important;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

.question-footer {
      display: flex;
      justify-content: space-between;
      padding: 12px 18px 18px 18px;

      border-top: 1px solid rgba(0, 0, 0, 0.4);
      align-items: center;
}


.quiz-answer-card:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.05);
}

.card-body {
      background-color: #F7F7F7;
}

.bg-success {
      color: white !important;
}

.bg-danger {
      color: white !important;
}

.width-100 {
      width: 100%;
}

.text-center {
      text-align: center;
}
